@font-face {
  font-family: 'Miller Display';
  src: url("/wp-content/themes/vail/fonts/Miller-Display.eot");
  src: url("/wp-content/themes/vail/fonts/Miller-Display.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/vail/fonts/Miller-Display.woff") format("woff"), url("/wp-content/themes/vail/fonts/Miller-Display.ttf") format("truetype"), url("/wp-content/themes/vail/fonts/Miller-Display.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Miller Display';
  src: url("/wp-content/themes/vail/fonts/Miller-DisplayItalic.eot");
  src: url("/wp-content/themes/vail/fonts/Miller-DisplayItalic.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/vail/fonts/Miller-DisplayItalic.woff") format("woff"), url("/wp-content/themes/vail/fonts/Miller-DisplayItalic.ttf") format("truetype"), url("/wp-content/themes/vail/fonts/Miller-DisplayItalic.svg") format("svg");
  font-weight: 400;
  font-style: italic; }
