// Manufactur Theme



/* General
====================================================================
====================================================================*/
// SELECTION
::-moz-selection { color:$white; background:$black; }
::selection { color:$white; background:$black; }

$main:rgba(133, 140, 104, 1);
$main-lightest:lighten($main,45%);
$main-light:lighten($main,20%);
$main-dark:darken($main,15%);
$transition-standard:all 0.8s ease-in-out;
$placeholder-color:$main-light;







/* Type
=============================
=============================*/










/* Buttons
=============================
=============================*/
.button { border: 2px solid $black; color: $black; transition: all .15s ease-out; }
.button-tertiary { border: 2px solid $white; color: $white; transition: all .15s ease-out; }







/* Icons
=============================
=============================*/










/* Header
====================================================================
====================================================================*/











/* Elements
=============================
=============================*/












/* Footer
====================================================================
====================================================================*/
















/* Forms
=============================
=============================*/
.patient-form {
    .gform_body { text-align:center;
        .gform_page { display:inline-block;
            .gform_next_button, .gform_previous_button { color:$main-dark; border-color:$main-dark; transition:$transition-standard;
                &:hover { border-color:$main-light; color:$main-light; transition:$transition-standard; }
            }
            // remove automatic padding from description
            .gsection_description { padding:0 5% !important; }
            .button { background:$white; border-radius:500px; max-width:150px; padding:15px 20px; margin:0; }
            .gform_fields { margin-left:0; list-style:none;
                .gfield {
                    label { padding:.5em; }
                    input, textarea, select { border:1px solid $main-light; height:auto; border:1px solid black; transition:$transition-standard;
                        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active { -webkit-box-shadow:0 0 0px 1000px $white inset; }
                        &:focus { box-shadow:none; background-color:rgba(0,0,0,.05); }
                        &::-webkit-input-placeholder { color:$main-light; }
                        &:-moz-placeholder { color:$main-light; }
                        &::-moz-placeholder { color:$main-light; }
                        &:-ms-input-placeholder { color:$main-light; }
                    }
                    // make those labels green and span the entire div
                    .gfield_label { width:100%; background:$main-lightest; }
                    .gfield_radio { list-style:none;
                        li { display:inline-block;
                            input { visibility:hidden; }
                            label { cursor:pointer; font-weight:700; }
                            input[type="radio"] {
                                &:checked + label { background:$main-dark; }
                                & + label { transition:$transition-standard; background:$main-light; border:1px solid transparent; width:150px; border-radius:500px; letter-spacing:.5;
                                    &:hover { background:$main-dark; transition:$transition-standard; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
