// Responsive
@include breakpoint(small up) { }

@include breakpoint(small only) { }

@include breakpoint(small down) {
    .gform_page { display:inline-block; width:100%; }
}



/*
========================================================================================================
========================================================================================================
========================================================================================================
*/
@include breakpoint(medium up) {



    /* General
    =============================*/


    // .content-margin-small { margin-bottom: $global-margin; }
    // .content-margin { margin-bottom: $global-margin*2; }
    // .content-margin-large { margin-bottom: $global-margin*4; }
    // .content-margin-xlarge { margin-bottom: $global-margin*8; }
    //
    // .padding-small { padding: $global-padding; }
    // .padding { padding: $global-padding; }
    // .padding-large { padding: $global-padding*2; }
    // .padding-xlarge { padding: $global-padding*4; }

    #gform_wrapper_3 .top_label input.medium { width:100% !important;
        .gform_body {
            input { margin:0 !important; }
        }
    }
    // confirmation message styling -- must be separate from the rest of the form
    .gform_confirmation_wrapper { margin:0 25%; display:inline-block; text-align:center; }
}


@include breakpoint(medium down) { }

@include breakpoint(medium only) { }



/*
========================================================================================================
========================================================================================================
========================================================================================================
*/
@include breakpoint(large up) { }


@include breakpoint(large only) { }











/*
========================================================================================================
========================================================================================================
========================================================================================================
*/
@include breakpoint(xlarge up) { }
@include breakpoint(xlarge only) { }










/*
========================================================================================================
========================================================================================================
========================================================================================================
*/
@include breakpoint(xxlarge up) { }
@include breakpoint(xxlarge only) { }
